﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/GSTP.Master" AutoEventWireup="true" CodeBehind="QDKhac_Edit.aspx.cs" Inherits="WEB.GSTP.QLAN.THA.QDKhac.QDKhac_Edit" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    
       
        
        
        
        
        
        
        
        
        
</asp:Content>
