﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DKNhanVB.ascx.cs" Inherits="WEB.DONKHOIKIEN.Personnal.UC.DKNhanVB" %>
<style>
   
</style>
<asp:Panel ID="pn" runat="server">
    <asp:Literal ID="ltt" runat="server"></asp:Literal>
</asp:Panel>
