﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DieuHuong.ascx.cs" Inherits="WEB.GSTP.UserControl.DieuHuong" %>
<div class="dieuhuong">
    <asp:Literal ID="lstDieuhuong" runat="server"></asp:Literal>
   
</div>