﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/GSTP.Master" AutoEventWireup="true" CodeBehind="Permisson.aspx.cs" Inherits="WEB.GSTP.Permisson" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="box">
        <div class="box_nd">
            <div class="truong">
                 <table class="table1" style="margin: 0 auto; width: 65%;height:250px;">
            <tbody>
                <tr>
                    <td style="text-align:center;font-weight:bold;font-size:15px;">
                Bạn không có quyền truy cập chức năng này !
                        </td>
                    </tr></tbody></table>
            </div>
        </div>
    </div>
</asp:Content>
