﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TEMP_ANHVH.aspx.cs" Inherits="WEB.GSTP.QLAN.GDTTT.VuAn.BaoCao.TEMP_ANHVH" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
       <div>
           <span style="color:#a2c2a8;font:12px">---------</span>
       </div>
    </form>
</body>
</html>
