﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Thongkean.aspx.cs" Inherits="WEB.GSTP.GSTP.Thongkean" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>Thống kê án
        </div>
    </form>
</body>
</html>
