﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Footer.ascx.cs" Inherits="WEB.DONKHOIKIEN.UserControl.Footer" %>
<asp:HiddenField ID="hddMa" runat="server" Value="footer" />
<asp:Literal ID="ltt" runat="server" Visible="true"></asp:Literal>
