﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MenuTin.ascx.cs" Inherits="WEB.DONKHOIKIEN.UserControl.MenuTin" %>
<div class="leftmenu_ds distance_bottom">
    <div class="leftmenu_ds_head bg_yellow dsdon_title"><a href="javascript:;">Danh sách đơn</a></div>
    <div class="leftmenu_content ds_don_bg_gray">
        <div class="leftmenu_content">
            <ul class="danhsach">
                <li><a href='javascript:;'>chuyen muc 1</a></li>
                <li><a href='javascript:;'>chuyen muc 1</a></li>
                <li><a href='javascript:;'>chuyen muc 1</a></li>
                <li><a href='javascript:;'>chuyen muc 1</a></li>
                <li><a href='javascript:;'>chuyen muc 1</a></li>
            </ul>
        </div>
    </div>
</div>
