﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TraCuu_Gray.ascx.cs" Inherits="WEB.DONKHOIKIEN.UserControl.TraCuu_Gray" %>
<div class="tracuu_gray">
    <div class="content_center">
        <asp:Panel ID="pnTaoDKK" runat="server">
            <div class="new_donkk">
                <a href="/Personnal/DoiMucDichSDTK.aspx" class="new_donkk_icon">+</a>
                <a href='/Personnal/DoiMucDichSDTK.aspx' class ='vanbanmoi_title'>Soạn đơn khởi kiện</a>
            </div>
        </asp:Panel>
        <%--<asp:Panel ID="pnVBMoi" runat="server">
            <div class="vanbantongdatmoi">
                <a href="/Personnal/VBTongDat.aspx?status=0">
                    <span class="vanbantongdatmoi_content">
                        <span class="vanbanmoi_title">Văn bản, thông báo mới của Tòa án</span>
                        <span class="soluong_vbmoi">
                            <a href="/Personnal/VBTongDat.aspx?status=0" class="soluong_vbmoi_link">
                                <asp:Literal ID="lttCount" runat="server"></asp:Literal></a></span>

                    </span>
                </a>
            </div>
        </asp:Panel>--%>
    </div>
</div>
