﻿/*---------modalPopup--------------*/
.modalBackground {
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.modalPopup {
    background-color: #FFFFFF;
    width: 900px;
    border: 3px solid #c4cabb;
    padding: 0;
}

    .modalPopup .header {
        background-color: #a4212a;
        height: 30px;
        color: White;
        line-height: 22px;
        text-align: center;
        font-weight: bold;
    }

    .modalPopup .body {
        min-height: 50px;
        position: relative;
        margin-top: 0px;
        text-align: left;
        margin-left: 0px;
        padding-bottom: 20px;
        float: left;
        width:890px;
    }

.HeadResend {
    float: left;
    color: #ffffff;
    text-align: left;
    width: 870px;
    padding-left: 5px;
}

.Form_Mover {
    position: absolute;
    height: 30px;
    width: 870px;
    left: 0px;
    top: 0px;
    z-index: 100;
    cursor: move
}

.modalPopup img {
    cursor: pointer;
    padding-left: 1px;
    padding-top: 1px;
}
.head_windowList {
    float: right;
    padding-right: 5px;
    padding-top: 1px;
    cursor: move;
}

    .head_windowList img {
        width: 18px;
        height: 18px;
        float: right;
        margin-top: 3px;
        cursor: pointer;
    }

.HeadResend span {
    margin-left: 5px;
}

.head_windowList {
    float: right;
    padding-right: 5px;
    padding-top: 1px;
    cursor: move;
}

    .head_windowList img {
        width: 18px;
        height: 18px;
        float: right;
        margin-top: 3px;
        cursor: pointer;
    }
/*-------Popup end-------*/
.fa-5x {
    display: table;
    color: #2ca02c;
}
.tleboxchung
{
    font-size:13px;
}