﻿
.phantrang {
    margin-top: 10px;
    width: 100%;
    display: block;
    float: left;
    line-height: 20px;
    margin-bottom: 2px;
}
.phantrang:first-child{margin-bottom:10px; }

.phantrang_bottom {
    margin-top: 10px;
    width: 100%;
    display: block;
    line-height: 20px;
    margin-bottom: 2px;
}

.sobanghi {
    float: left;
    width: 45%;
    text-align: left;
    line-height: 22px;font-size:13pt; color:red;
}
    .sobanghi b{font-weight:bold; font-size:13pt;}
    .sotrang {
        float: right;
        width: 50%;
        text-align: right;
    }
.sotrang a:last-child{margin-right:0px;}
.back, .top, .so, .next, .end, .active {
    border: 1px #bfbfbf solid;
    padding: 5px 10px;
    color: #434343;
    line-height: 20px;
    text-decoration: none;
    margin-right: 3px;
   
    background-color: white;
}

.back, .top, .next, .end {
    margin: 0 3px;
    /*background: #b9b9b9;*/
}

.sotrang a:hover {
    color: #fff;
    font-weight: bold;
    background-color: #b41c1c;
}

.active {
    color: #fff;
    font-weight: bold;
    background-color: #b41c1c;
}
/*
.back {
    background: url(../img/back.png) no-repeat center 5px;
}

.top {
    background: url(../img/top.png) no-repeat center 5px;
}

.next {
    background: url(../img/next.png) no-repeat center 5px;
}

.end {
    background: url(../img/end.png) no-repeat center 5px;
}
    */
