﻿* {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-family: Arial;
}

a {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

body {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.processmodal {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

.processcenter {
    z-index: 1000;
    margin: 300px 300px;
    padding: 10px;
    width: 180px;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}

    .processcenter img {
        height: 178px;
        width: 178px;
    }

.header {
    width: 100%;
    height: 95px;
    margin: 0 auto;
    position: relative;
    background: url("/UI/img/bg.png") repeat-x;
    background-size: contain;
    text-align: center;
}

.headertop {
    float: left;
    width: 96%;margin-left:2%;
    height: 95px;
}

.logo_toaan {
    float: left;
    width: 70px;
    height: 95px;
    margin-left: 23px;
    margin-top: 3px;
    background: url("/UI/img/quochuy.png") no-repeat left 9px;
}


.logo_botuphap {
    float: LEFT;
    width: 72px;
    height: 114px;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 3px;
    background: url("/UI/img/btp.png") no-repeat left 10px;
}
.logo_text {
    float: left;
    margin-left: 4%;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #d50625;
    font-size: 44.6px;
    text-transform: uppercase;
}

.taikhoan {
    float: right;
    margin-right: 20px;
    height: 46px;
    line-height: 46px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}
/*-------------------------------*/
.menu {
    /*float: left;
    width: 100%;height:50px;
    position: relative;
    text-align: center;
    padding-left: 0px;
    border-top: 5px solid #8a1f20;
    margin-bottom:20px;*/
    float: left;
    width: 100%;
    height: 37px;
    position: relative;
    text-align: center;
    padding-left: 0px;
    background: url("/UI/img/bgmenu.png") repeat-x;
    border-top: 1px solid #8a1f20;
    margin-bottom: 20px
}
.menubuttonActive {
    float: left;
    top: -7px;
    position: relative;
    height: 44px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #9e2702;
    border-right: solid 1px #9e2702;
    border-bottom: 0px;
    border-left: solid 1px #9e2702;
    border-top: solid 1px #9e2702;
    border-radius: 4px 4px 0px 0px;
    padding-left: 12px;
    padding-right: 12px;
    background: url("/UI/img/bgmnactive.png");
    background-size: auto auto;
    background-size: contain;
    cursor: pointer;
}
.menubutton {
    float: left;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
    border-left: 0px;
    border-right: solid 1px #ea3f42;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 0px;
    border-top: 0px;
    background: url("../img/bgmenu2.png");
    cursor: pointer;
}
/*-------------------------------*/

.btnLogout {
    height: 27px;
    line-height: 27px;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    width: 70px;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background: url("../img/bgLogout.png") no-repeat;
    background-position: right 20px center;
    margin-top: 10px;
    cursor: pointer;
    float: left;
}

.btnSignout {
    height: 27px;
    line-height: 27px;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    border: solid 1px #db7171;
    padding-left: 12px;
    padding-right: 40px;
    background: url("../img/icologout.png") no-repeat;
    background-position: right 12px center;
    cursor: pointer;
}

.btnBack {
    height: 27px;
    line-height: 27px;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    border: solid 1px #db7171;
    padding-left: 12px;
    padding-right: 40px;
    background: url("../img/icoback.png") no-repeat;
    background-position: right 12px center;
    cursor: pointer;
}
/*-------------------------------*/

.moduleinfo {
    float: left;
    height: 39px;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 5px;
}

.userinfo {
    float: right;
    height: 39px;
    margin-right: 30px;
    margin-top: 5px;
}

    .userinfo a {
        float: left;
        color: #333333;
    }

.userinfo_ico {
    float: left;
    color: #ffffff;
    line-height: 39px;
    padding-left: 40px;
    background: rgba(0, 0, 0, 0) url("/UI/img/user_ico.png") no-repeat scroll left center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

    .dropdown:hover .menu_child {
        display: block;
    }

    .dropdown:hover .menu_child2 {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: transparent;
        color: #333333;
    }

.menu_child {
    display: none;
}

.menu_child2 {
    display: none;
}

.arrow_up_border {
    border-bottom: 9px solid #dcdcdc;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    position: absolute;
    right: 3px;
    top: 31px;
    width: 0;
    z-index: 2;
}

.menu_child ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 220px;
    /*------------*/
    position: absolute;
    background-color: white;
    min-width: 160px;
    border: solid 1px #dcdcdc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -40px;
    top: 39px;
    border-radius: 4px;
    padding: 5px;
}

    .menu_child ul li {
        float: left;
        border-bottom: solid 1px #dcdcdc;
        list-style-type: none;
        width: 100%;
    }

.menu_child a:hover {
    background-color: transparent;
}

.menu_child ul li:last-child {
    float: left;
    border-bottom: none;
    text-align: center;
    padding: 3px 0px;
}

.menu_child2 ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 320px;
    /*------------*/
    position: absolute;
    background-color: white;
    min-width: 160px;
    border: solid 1px #dcdcdc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -150px;
    top: 39px;
    border-radius: 4px;
    padding: 5px;
}

    .menu_child2 ul li {
        float: left;
        border-bottom: solid 1px #dcdcdc;
        list-style-type: none;
        width: 100%;
        padding-top: 15px;
    }

        .menu_child2 ul li:hover {
            background-color: #fdf8d2;
        }

        .menu_child2 ul li:last-child {
            float: left;
            border-bottom: none;
            text-align: center;
            padding: 3px 0px;
        }

.ttuser {
    background: url("../img/setting.png") no-repeat 6px center;
}

.changepass {
    background: url("../img/refresh18.png") no-repeat 6px center;
}
.infors {
    background: url("../img/bguser.png") no-repeat 6px center;
}
.singout {
    background: url("../img/logout.png") no-repeat 6px center;
}

.menu_child a {
    color: #333;
    line-height: 38px;
    padding-left: 45px;
    text-align: left;
    text-decoration: none;
    float: left;
    display: block;
    width: 180px;
}

    .menu_child a:hover {
        color: #d02629;
    }

.content_form {
    float: left;
    width: 96%;
    margin-left: 2%;
}


/*------------------------------*/
.processmodal {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

.processcenter {
    z-index: 1000;
    margin: 300px 300px;
    padding: 10px;
    width: 180px;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}

    .processcenter img {
        height: 178px;
        width: 178px;
    }

    /*----------------------------------*/
.content_body {
    float: left;
    width: 100%;
    margin-bottom: 19px;
    background: white;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.content_form_head {
    background: linear-gradient(to right,#980305, #b5100c,#ffaaaa,#fff);
    float: left;
    width: 100%;
    height: 40px;
    border-radius: 4px 4px 0px 0px;
}

.content_form_head_title {
    color: white;
    float: left;
    font-size: 13pt;
    font-weight: bold;
    line-height: 40px;
    margin-left: 20px;
    text-transform: uppercase;
}

.content_form_head_right {
    float: right;
}

.content_form_body {
    float: left;
    margin: 20px 2%;
    width: 96%;
}

.border_search {
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    float: left;
    margin-bottom: 20px;
    padding: 15px 3%;
    width: 94%;
}

.dropbox {
    border: solid 1px #b0b0b0;
    color: #044271;
    font-size: 12px;
    height: 32px;
    padding: 5px 2%;
    width: 99%;
}

.textbox {
    border: solid 1px #b0b0b0;
    border-radius: 3px;
    color: #737373;
    padding: 6px;
    color: #044271;
}

.button_search2 {
    border: medium none;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px 6px 30px;
    padding-left: 30px;
    background: #d02629 url("/UI/img/search.png") no-repeat scroll 10px center;
    padding-left: 30px;
    float: left;
    margin-right: 14px;
}

.button {
    background: #d02629 ;border: medium none;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px 6px 10px;
    float: left; margin-right:10px;
}

.CSSTableGenerator ul {
    float: left;
    width: 97%;
    margin: 0;
    padding: 0;
}

    .CSSTableGenerator ul li {
        float: left;
        width: 100%;list-style-type:none;
    }

.taikhoan {
    background: white none repeat scroll 0 0;
    border: 1px solid #cfabab;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    border-bottom: none;
    border-radius: 0 0 4px 4px;
    top: 0;
    float: right;
    font-weight: bold;
    padding: 0 25px;
    position: absolute;
    right: 15px;
}
.dropbtn {
    border: none;
    cursor: pointer;
}


.align_center {
    text-align: center;
}
.align_right {
    text-align: right;
}
.align_left {
    text-align: left;
}
.link_nopap{font-weight:bold; color:blue;}

.homesearch {
    float: left;
    width: 100%;
    background: #fff;
    border: solid 1px #b0b0b0;
    border-radius: 5px;
}
.searchcontent {float:left; width:100%; position:relative;}
.tracuu_tleboxchung {
    position: absolute;
    margin-left: 15px;
    background: #FFF;
    z-index: 20;
    padding: 0 2px;
    white-space: nowrap;top:-7px;
}
.tleboxchung {float:left; font-weight:bold; font-size:12pt;margin-bottom:6px;}
.textbox_searchbasic {
    width: 73%;
    height: 20px;
    float: left;
    border: solid 1px #b0b0b0;
    border-radius: 3px;
    color: #737373;
    padding: 6px;
}
.textbox_home {
    width: 83%;
    height: 45px; border:none;
    float: left;
    padding: 1px 10px;border-radius:6px;
}
.buttonsearch_home {
    background: #fffac7 url("/UI/img/search2.png") no-repeat scroll 10px center;
    border: hidden;
    width: 50px;
    height: 45px;
    border-left: solid 1px #dcdcdc;
    border-radius: 0px 6px 6px 0px;
}
.float_right{float:right;}

/*------------------------------------*/
.homecontent {
    float: left;
    width: 50%;
    margin-top: 150px;
}
.banner_home {
    width: 100%;
    height: 570px;
    background: url(/UI/img/lgbg_red.png) no-repeat;
    background-size: cover;
    float: left;
}
.home_title {
    float: left;
    width: 90%;
    font-size: 25pt;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-bottom:30px;
    line-height:40px;
    text-align:center;
}
/*--------------------login---------------------*/

#login_frame {
    width: 100%;
    height: 570px;
    background: url(/UI/img/lgbg_red.png) no-repeat;
    background-size: cover;
    float: left;
}

#logo {
    width: 100%;
    height: 130px;
    background: url(/UI/img/lgheader.png) no-repeat;
    background-size: cover;
}

#signin_frame {
    width: 416px;
    height: 335px;
    margin-top: 110px;
    background: url(/UI/img/lgbg_login.png);
    margin-left: auto;
    margin-right: auto;
}

.signin_title {
    width: 680px;
    height: 53px;
    background: url(/UI/img/lgdang_nhap.png);
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    line-height: 52px;
}

.khungnhap {
    float: left;
    width: 100%;
    margin-top: 90px;
    font-size: 13px;
}

    .khungnhap .box {
        display: block;
        float: left;
        margin-left: 35px;
        width: 345px;
        border: solid 1px #aeaeae;
        margin-bottom: 20px;
        border-radius: 4px 4px 4px 4px;
    }

.matruycap {
    float: left;
    width: 42px;
    height: 44px;
    background: #fffac7 url(/UI/img/bgmatruycap.png);
    border-right: solid 1px #aeaeae;
}

.matkhau {
    float: left;
    width: 42px;
    height: 44px;
    background: #fffac7 url(/UI/img/bgmatkhau.png);
    border-right: solid 1px #aeaeae;
}

.khungnhap .textfield {
    display: block;
    height: 42px;
    width: 300px;
    margin: 0px 0;
    text-indent: 15px;
    border: 0px;
    background-color: #fffac7;
}

.clearfix {
    width: 100%;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.remember {
    float: left;
}

.button_login {
    margin-top: 10px;
}

.hotro {
    float: left;
    width: 100%;
}

.hotrotitle {
    float: left;
    width: 100%;
    height: 45px;
    background: url(/UI/img/lgho_tro.png) no-repeat;
    margin-bottom: 20px;
}

.hotroinfo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #555555;
    font-size: 16px;
    width: 1000px;
}

    .hotroinfo .phone {
        float: left;
        width: 300px;
        height: 95px;
        line-height: 95px;
        background: url(/UI/img/lgcontact.png) no-repeat;
        margin-right: 10px;
        text-indent: 105px;
    }

    .hotroinfo .email {
        float: left;
        width: 300px;
        height: 95px;
        line-height: 95px;
        background: url(/UI/img/lgemail.png) no-repeat;
        margin-right: 10px;
        text-indent: 105px;
    }

    .hotroinfo .skype {
        float: left;
        width: 300px;
        height: 95px;
        line-height: 95px;
        background: url(/UI/img/lgskype.png) no-repeat;
        margin-right: 10px;
        text-indent: 105px;
    }

.link a {
    color: #204165;
    line-height: 24px;
}

.link {
    text-align: right;
}

#TTHT {
    width: 90%;
    border-radius: 3px;
    background: #3c3c3c;
    padding: 20px 50px;
    float: left;
    margin-top: 40px;
}

.boder {
    border: solid 1px #dcdcdc;
}

/*-------------------------------------*/
[type="radio"]:checked, [type="radio"]:not(:checked) {
    left: -9999px;
    position: absolute;
}

    [type="radio"]:checked + label::before, [type="radio"]:not(:checked) + label::before {
        background: #efefef none repeat scroll 0 0;
        border: 1px solid #bcbcbc;
        border-radius: 100%;
        content: "";
        height: 12px;
        left: 0;
        position: absolute;
        top: 0;
        width: 12px;
    }

    [type="radio"]:not(:checked) + label::after {
        opacity: 0;
        transform: scale(0);
    }

    [type="radio"]:checked + label::after, [type="radio"]:not(:checked) + label::after {
        background: #555 none repeat scroll 0 0;
        border-radius: 100%;
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        transition: all 0.2s ease 0s;
        height: 8px;
        width: 8px;
    }

    [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
        cursor: pointer;
        display: inline-block;
        line-height: 20px;
        position: relative;
        margin-top: -5px;
        font-size: 13px;
        text-indent: 25px;
    }

.radio_cts tr td label {
    color: #333 !important;
    font-weight: bold;
}

.radio_cts tr td {
    margin-left: 10px;
    float: left;
}

.leftzone {
    float: left;
    width: 25%;
    text-align: left;
}
.leftmenu {
    float: left;
    width: 100%;
    margin-bottom: 19px;
    background: white;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}
.leftmenu_header {
    float: left;
    width: 100%;
    background: #d02629;
    border-radius: 4px 4px 0px 0px;
}
.leftmenu_header_icon {
    border: medium none;
    float: left;
    padding-left: 3%;
    padding-top: 5px;
}
.leftmenu_header span {
    color: white;
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    text-align: left;
    text-transform: uppercase;
    padding-left: 15px;
}
.leftmenu_content {
    float: left;
    width: 100%;
}
.thongke {
    float:left; width:100%;  padding:0;list-style-type:none; margin: 15px 0px;
}
    .thongke li {
        float: left;
        width: 90%;
        margin-left: 5%;
        list-style-type: none;
        border-bottom: solid 1px #e6e6e6;
        padding-bottom:10px;
        padding-top:10px;font-size:11pt;
    }
        .thongke li:last-child{ border-bottom:none;padding-bottom:0px;}
        .rightzone {
            float: right; width:73%;
        }
        /*--------anhvh----------*/
.table2 {
    border: solid 1px #a2c2a8;
    border-collapse: collapse;
    margin: 5px 0;
    width: 100%;
}

    .table2 th {
        background: #d2ecd7;
        border: solid 1px #a2c2a8;
        padding: 2px;
    }

    .table2 .header {
        background: #db212d;
        border: solid 1px #a2c2a8;
        padding: 2px;
        font-weight: bold;
        height: 30px;
        color: #ffffff;
    }

    .table2 header td {
        background: #db212d;
        border: solid 1px #a2c2a8;
        padding: 2px;
    }

.header_td {
    background: #db212d;
    font-weight: bold;
    height: 30px;
    color: #ffffff;
}

.le {
    background: #FFF;
    border: solid 1px #a2c2a8;
    height: 25px;
}

.table2 le td {
    background: #FFF;
    border: solid 1px #a2c2a8;
    height: 25px;
}

.chan {
    background: #FFF;
    border: solid 1px #a2c2a8;
    height: 25px;
}

.table2 chan td {
    background: #FFF;
    border: solid 1px #a2c2a8;
}

.chan:hover {
    background: #e2f7e5;
}

.le:hover {
    background: #e2f7e5;
}

.table2 chan td:hover {
    background: #e2f7e5;
}

.table2 le td:hover {
    background: #e2f7e5;
}

.table2 td {
    border: solid 1px #a2c2a8;
    padding: 5px;
    line-height: 17px;
}

input.user {
    border: solid 1px #cccccc;
    border-radius: 4px;
    height: 20px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #044271;
    padding: 2px 3px;
    text-indent: 3px;
}

select.user {
    border: solid 1px #cccccc;
    border-radius: 4px;
    height: 26px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #044271;
}

input.userdatedai {
    border: solid 1px #cccccc;
    border-radius: 4px;
    height: 18px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width: 130px;
}

input.userdatengan {
    border: solid 1px #cccccc;
    border-radius: 4px;
    height: 18px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
}

textarea.user {
    border: solid 1px #cccccc;
    border-radius: 4px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #044271;
    padding: 5px 4px;
}

select#select {
    border: solid 1px #dcdcdc;
    border-radius: 4px;
    height: 20px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

select.select {
    border: solid 1px #dcdcdc;
    border-radius: 4px;
    height: 20px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

input.check {
    border: 1px solid #C6C6C6;
}

.chosen-select {
    border: 1px solid #C6C6C6;
}

p.textphu {
    color: #6d6d6d;
}

.boxnd1 {
    margin-bottom: 5px;
}

.bt {
    margin-bottom: 5px;
    display: inline-block;
}
.must_input {
    color: red;
    margin-left: 5px;
    font-weight: bold;
}
input:focus {
    outline: 2px auto rgb(229, 151, 0);
    outline-offset: -2px;
}

[type="radio"]:focus + label:focus {
    outline: 2px auto rgb(229, 151, 0);
    outline-offset: -2px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 0px;
    padding-right: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}

    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }

    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: "";
        width: 12px;
        height: 12px;
        background: #555;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-right: 9px;
}

    input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 14px;
        height: 14px;
        top: 0;
        left: 0;
        border: 2px solid #555555;
        border-radius: 3px;
        background-color: white;
    }

    input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 5px;
        height: 8px;
        border: solid black;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 2px;
        left: 6px;
    }
.button_checkchkso {
    background: rgba(0, 0, 0, 0) url("/UI/img/bg_login.png") repeat-x scroll 0 0;
    border: medium none;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    font-weight: bold;
    line-height: 31px;
    margin-bottom: 15px;
    padding: 0 25px;
    text-align: center;
    text-transform: uppercase;
}
.buttoninput {
    min-width: 80px;
    height: 30px;
    font-weight: bold;
    color: #631313;
    background: url("../img/bg_danhsach.png");
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    border: solid 1px #9e9e9e;
    border-radius: 3px 3px 3px 3px;
}

.buttondisable {
    height: 30px;
    font-weight: bold;
    min-width: 80px;
    padding-left: 9px;
    padding-right: 9px;
    cursor: pointer;
    border: solid 1px #9e9e9e;
    border-radius: 3px 3px 3px 3px;
}
