﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="error.aspx.cs" Inherits="WEB.TP.error" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            NGUYỄN HÒA BÌNH,LÊ HỒNG QUANG,NGUYỄN VĂN HẠNH,NGUYỄN THÚY HIỀN,NGUYỄN TRÍ TUỆ,
            NGUYỄN VĂN DU,BÙI NGỌC HÒA,TỐNG ANH HÀO,NGUYỄN VĂN THUÂN,ĐẶNG XUÂN ĐÀO,
            CHU XUÂN MINH,TRẦN VĂN CÒ,NGUYỄN THỊ HOÀNG ANH,LƯƠNG NGỌC TRÂM,
            ĐÀO THỊ XUÂN LAN,LÊ VĂN MINH,NGUYỄN VĂN TIẾN
        </div>
    </form>
</body>
</html>
